body{
    background-color: #222831;
}
#drum-Container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.drum-box{
    padding: 3rem;
    margin: 3px;
    border: 3px solid rgb(218, 15, 56);
    color: rgb(211, 12, 12);
    font-size: 2rem;
    font-weight: bold;
}
.drumAnimation{
  width: 100px;
  border: 8px solid rgb(255, 137, 2);
  transition: border 0.2s;
}
h1{
    color: rgba(245, 44, 18, 0.719);
    font-family: "Sofia", sans-serif;
    font-size: 50px;
}

.A{
    background: url("images/crash.jpeg");
    background-repeat: no-repeat;
}
.S{
    background: url("images/kick.jpg");
    background-repeat: no-repeat;

}
.D{
    background: url("images/D.jpg");
    background-repeat: no-repeat;
}
.F{
    background: url("images/F.jpg");
    background-repeat: no-repeat;
}

.G{
    background: url("images/G.jpg");
    background-repeat: no-repeat;
}
.H{
    background: url("images/H.jpg");
    background-repeat: no-repeat;
}

footer{
    color: rgba(255, 255, 255, 0.212);
    margin: 1rem;
}


